/* Services.css */
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.services-heading {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333; /* Change color as needed */
}

.services-button-container {
  margin-bottom: 20px; /* Space between heading/button and cards */
}

.services-button {
  background-color: #4e54c8; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.services-button:hover {
  background-color: #8f94fb; /* Hover effect */
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  max-width: 300px; /* Limit card width */
}

.service-card:hover {
  transform: scale(1.05);
}

.service-image {
  width: 100%; /* Scale to fill the card */
  height: auto; /* Maintain aspect ratio */
  max-width: 150px; /* Limit the maximum width */
  border-radius: 8px 8px 0 0; /* Rounded top corners */
}
