/* TopHeading.css */

.header {
  background: linear-gradient(90deg, #4e54c8, #8f94fb);
  color: white;
  padding: 60px 20px;
  text-align: center;
  margin: 60px;
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
  line-height: 1.2;
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

.fade-in {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header {
    margin: 30px 15px; /* Reduced margin for mobile */
  }

  .header h1 {
    font-size: 1.8em; /* Responsive font size */
  }

  .mobile-heading {
    animation: none;
    opacity: 1;
  }
}
